.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cell {
  height: 100px;
  cursor: pointer;
  text-align: right;
  border: 1px solid #ddd;
}
.todaysDate {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: red;
  color: white;
}

.date {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  color: black;
}
